body{
    background-color: black
}

#AnswerField{
    color: black;
    margin-top: 10%;
    margin-left: 40%;
    width: 20%;
}

#Binary1{
    color: black;
    width: auto;
    height: auto;
}

#Binary2{
    color: black;
    width: auto;
    height: auto;
}

#Binary3{
    color: black;
    width: auto;
    height: auto;
}

#Binary4{
    color: black;
    width: auto;
    height: auto;
}

#Binary5{
    color: black;
    width: auto;
    height: auto;
}

#Binary6{
    color: black;
    width: auto;
    height: auto;
}

#Binary7{
    color: black;
    width: auto;
    height: auto;
}

#BinaryTips1{
    color: white;
    width: auto;
    height: 5%;
    text-align: center;
}

#BinaryTips2{
    color: white;
    width: auto;
    height: 5%;
    text-align: center;
}

#BinaryTips3{
    color: white;
    width: auto;
    height: 5%;
    text-align: center;
}

#BinaryTips4{
    color: white;
    width: auto;
    height: 5%;
    text-align: center;
}

#BinaryTips5{
    color: white;
    width: auto;
    height: 5%;
    text-align: center;
}

#BinaryTips6{
    color: white;
    width: auto;
    height: 5%;
    text-align: center;
}

#BinaryTips7{
    color: white;
    width: auto;
    height: 5%;
    text-align: center;
}

#BinaryQuestion{
    color: black;
    width: auto;
    height: auto;
}

#BinaryTips{
    margin-top: 5%;
}

#NextButton{
    margin-left: 92%;
    margin-top: 12%;
}

#BinaryExplanation{
    position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer; 
}

#UitlegText{
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 20px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#WrongAnswer{
    color: red;
}

#AnswerBreak{
    color: white;
}

#RightAnswer{
    color: limegreen;
}

#TotalRight{
     color: white;
 }

#TotalWrong{
    color: white;
}

#timer{
    color: white;
}

#NickName{
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}