body{
    background-color: black;
}

#TitleText{
    color: white
}

#StartButton{
    margin-top: 15%;
}

#NicknameField{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 5%;
}
